<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  {{ $style := resources.Get "css/main.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <!-- Katex -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js"></script>

</head>

<body>
  <header>
    <h1><a href="/" style="text-decoration: none; color: inherit;">{{ .Site.Title }}</a></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>

</html>
