{{ define "main" }}
<ul>
  {{ range .Paginator.Pages }}
  <li style="display: flex">
    <span style="flex: 50">
      <i>{{ .Date.Format "Jan 2, 2006" }}</i>
    </span>
    <span style="flex: 100">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </span>
    {{ with .Params.tags }}
    <span style="flex: 50">
      {{ range . }}
      <a href="/tags/{{ lower . }}">#{{ lower . }}</a>
      {{ end }}
    </span>
    {{ end }}
  </li>
  {{ end }}
</ul>

<div>
  {{ range .Site.Taxonomies.tags }}
  <a href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
  {{ end }}
</div>
{{ end }}
